{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Unisucre Verde <small> 2023</small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">¿Que somos?</h5>

                <p class="card-text">
                  Somos una pagina ambientalista que busca la interacción con el entorno y la naturaleza que habita en nuestra infraestructura
                </p>

                <a href="/about" class="card-link">Más info</a>

              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">La plataforma permite el registro de usuarios, quienes podrán adicionar fotos y videos de arboles y monumentos existentes en la Universidad de Sucre </h5>
                <a href="#" class="card-link">Iniciar sesión</a>
                <a href="#" class="card-link">Registrarme</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">Mapa</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Mapa de la institución</h6>

                <p class="card-text">Aquí puedes encontrar el mapa de nuestra institución</p>
                <a href="/mapa" class="btn btn-primary">Mapa</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title m-0">Biblioteca de fotos</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Librería de fotos</h6>

                <p class="card-text">En este apartado puedes visualizar la biblioteca de fotos</p>
                <a href="/fotos" class="btn btn-primary">Fotos</a>
              </div>
            </div>
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title m-0">Participa aqui</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Ingresa tus fotos</h6>

                <p class="card-text">En esta sección puedes participar de manera gratuita y voluntaria en nuestro programa</p>
                <a href="/formulario" class="btn btn-primary">Participa</a>
              </div>
            </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

