<head>
  <title>{{ Mapa }}</title>
 <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <style type="text/css">
    .content-wrapper {
      padding: 20px;
    }

    .content-wrapper h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .content-wrapper p {
      text-align: justify;
      margin-bottom: 10px;
    }

    #map {
      height: 400px;
      width: 100%;
    }
  
    .map-container {
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    
  </style>
</head>

<div class="wrapper">
  <div class="content-wrapper">
    <div class="container">
      <h2>Mapa</h2>
      <p>En esta sección puedes visualizar un mapa satelital de nuestra institución. En la que podrás seleccionar el árbol y/o monumento que quieras ver, junto con sus características</p>

       <div id="map" class="map-container"></div>
      <div class="marker-position"></div> <!-- Agrega el elemento con la clase "marker-position" aquí -->
      <script>
        const map = L.map("map").setView([9.315161726912077, -75.38832306861879], 18);

        // Capa de azulejos de OpenStreetMap
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Manejar el evento de clic en el mapa
        map.on("click", function (e) {
  const markerPlace = document.querySelector(".marker-position");
  markerPlace.textContent = `Nueva posición del marcador: ${e.latlng.lat}, ${e.latlng.lng}`;

  const marker = L.marker(e.latlng, { draggable: true })
    .addTo(map)
    .bindPopup('<button type="button" class="remove">Eliminar marcador</button>')
    .on("popupopen", function () {
      const btn = document.querySelector(".remove");
      btn.addEventListener("click", function () {
        markerPlace.textContent = "Marcador eliminado";
        map.removeLayer(marker);
      });
    })
    .on("dragend", function () {
      markerPlace.textContent = `Posición cambiada: ${this.getLatLng().lat}, ${this.getLatLng().lng}`;
    });

  // Enviar los datos del marcador al servidor
  const data = {
    lat: e.latlng.lat,
    lng: e.latlng.lng
  };

  fetch('/mapa', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error(error);
  });
});
      </script>
    </div>

<!-- contenedor de grafica -->

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style type="text/css">

</style>




<style type="text/css">

        #outer-container585 {
        display: flex;
        justify-content: center;
    }

    #inner-container585 {
        width: 500px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
        #container585 {
        height: 200px;
    }

</style>


  <div id="outer-container585">
  <div id="inner-container585">
    <div id="container585"></div>
  </div>
  <div id="datos"></div> 
</div>

    
<script>
  anychart.onDocumentReady(function () {
    var chart = anychart.column();
    chart.animation(true);
    chart.title('Numero de árboles clasificados por especie');

    function obtenerDatos() {
      $.ajax({
        url: '/datos',
        method: 'GET',
        success: function(response) {
          actualizarGrafica(response);
        },
        error: function(error) {
          console.error(error);
        }
      });
    }


    function obtenerSummerAll() {
      $.ajax({
        url: '/summerImgAll',
        method: 'GET',
        dataType: "json",
        success: function(response) {
           console.log("----------------------------------- "+response)
        },
        error: function(error) {
          console.error(error);
        }
      });
    }


    function actualizarGrafica(datos) {
      chart.removeSeries(0); // Elimina la serie existente antes de agregar una nueva
     
      datos.sort(function(a, b) {
        // Ordena los datos por el valor de X en orden ascendente
        return a[0].localeCompare(b[0]);
      });

      var series = chart.column(datos);



      series.tooltip().titleFormat('{%X}');

      series
        .tooltip()
        .position('center-top')
        .anchor('center-bottom')
        .offsetX(0)
        .offsetY(5);
      chart.yScale().minimum(0);
      chart.tooltip().positionMode('point');
      chart.interactivity().hoverMode('by-x');
      chart.xAxis().title('Árboles');
      chart.yAxis().title('Cantidad');
      chart.container('container585');
      chart.background().enabled(false);
      chart.draw();
    }

    obtenerDatos();
   // obtenerSummerAll();

    setInterval(obtenerDatos, 5000);
  });
</script>



</style>

<!-- Final del contenedor de grafica -->

<div id="codigo-qr"></div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<style>
  #codigo-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
  }
</style>

<script>
  // Obtener la URL de la página actual
  var url = window.location.href;

  // Generar el código QR
  var qrcode = new QRCode(document.getElementById("codigo-qr"), {
    text: url,
    width: 256,
    height: 256
  });
</script>



  </div>
</div>